<%= form_with model: @event, url: events_path, local: true do |f| %>
<p>flyer</p>
<%= f.file_field :images %>
<p>event name</p>
<%= f.text_area :event_name %>
<p>event date</p>
<%= raw sprintf(
                  f.date_select(
                    :date,
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2020,
                    end_year: 2030,
                    date_separator: '%s'),
                  "<p> / </p>", "<p> / </p>") %>
<p>open</p>
<%= f.time_select :open_time, prompt:true, ignore_data:true %>
<p>start</p>
<%= f.time_select :start_time, prompt:true, ignore_data:true %>
<p>place</p>
<%= f.text_area :place %>
<p>price(adv)</p>
<%= f.text_area :price_adv %>
<p>place(door)</p>
<%= f.text_area :price_door %>
<p>capacity</p>
<%= f.text_area :capacity %>
<p>genre</p>
<%= f.collection_select(:genre_id, Genre.all, :id, :name, {} ) %>
<p>contents</p>
<%= f.text_area :event_text %>
<p>precautions</p>
<%= f.text_area :precautions %>
<%= f.submit "send" %>
<% end %>
